.contact-form {
  input,
  textarea {
    border: 1px solid #737373;
    border-radius: 5px;
    background: transparent;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    outline: none;

    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.7);
    }
  }

  textarea {
    height: 115px;
    resize: none;
    font-family: "Barlow";
  }
}
