.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  background-color: #000000;
  color: white;
  z-index: 9999;

  .footer-txt {
    font-style: italic;
    font-weight: 300;

    @media ($down: $sm) {
      font-size: 14px;
    }
  }

  .footer-txt__rights {
    @media ($down: $sm) {
      display: block;
    }
  }

  .follow-us {
    @media ($down: $sm) {
      display: none;
    }
  }

  .footer-socials {
    li {
      margin: 0 5px;

      @media ($down: $sm) {
        margin: 0 7px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
      width: 45px;
      height: 45px;
      background: $red;
      border-radius: 100%;

      @media ($down: $sm) {
        font-size: 18px;
        width: 38px;
        height: 38px;
      }
    }
  }
}
