.header {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  // display: none !important;

  .logo {
    width: 55px;
    height: 70px;
  }
}
