.navigation {
  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    transition: all 0.1s ease;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    &.active {
      color: rgba(255, 255, 255, 1);
      border-bottom: 3px solid $red;
    }
  }
}
