.about {
  padding-bottom: 90px;
}

.about__header {
  height: 950px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.about-journey {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-journey__inner {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 90px 0;

  @media ($down: $md) {
    padding: 50px 0;
  }
}
.about-journey__inner--content {
  padding: 0 100px;

  @media ($down: $md) {
    padding: 0 20px;
  }
  @media ($down: $sm) {
    flex-wrap: wrap;
  }
}

.about-journey__title {
  font-size: 58px;
  font-weight: 500;
  margin-bottom: 50px;

  @media ($down: $md) {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  @media ($down: $sm) {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.about-journey__txt {
  font-size: 34px;
  line-height: 40px;
  max-width: 840px;
  width: 100%;

  @media ($down: $md) {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  @media ($down: $sm) {
    font-size: 20px;
    line-height: 26px;
  }
}

.about__main-products {
  height: 800px;

  @media ($down: $md) {
    height: 450px;
  }
  @media ($down: $sm) {
    flex-direction: column;
    height: 580px;
  }
}

.about__main-products-title {
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 400;
  color: #fff;

  @media ($down: $sm) {
    font-size: 34px;
    margin-bottom: 20px;
  }
}

.mobile-app {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media ($down: $md) {
    height: auto;
  }
}

.mobile-app-bg {
  width: 240px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media ($down: $sm) {
    margin-bottom: 15px;
    width: 200px;
    height: 60px;
  }

  &.apple {
    margin-right: 25px;

    @media ($down: $sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.mobile-app__content {
  height: 100%;
  @media ($down: $md) {
    flex-direction: column-reverse;
  }
}

.mobile-app__content--phones {
  margin-right: 100px;
  max-width: 450px;
  width: 100%;

  @media ($down: $xl) {
    margin-right: 50px;
  }
  @media ($down: $md) {
    margin: auto;
    height: 320px;
    max-width: 300px;

    > img {
      height: 100%;
    }
  }
}

.mobile-app__content--txt {
  padding-bottom: 140px;

  @media ($down: $md) {
    padding: 30px 0;
    margin: auto;
  }
}

.mobile-app__content--pin {
  margin: 40px 0;

  @media ($down: $md) {
    margin: 15px 0;
  }
}

.about-journey__img-holder {
  @media ($down: $sm) {
    margin-top: 30px;
  }

  > img {
    @media ($down: $sm) {
      width: 100%;
    }
  }
}

.about__main-products--left {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media ($down: $sm) {
    width: 100%;
  }
}

.about__main-products--right {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media ($down: $sm) {
    width: 100%;
  }
}

.аpp-links-holder {
  @media ($down: $sm) {
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
  }
}

.mobile-app-title {
  font-size: 46px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  @media ($down: $sm) {
    font-size: 30px;
  }
}

.coming-soon-title {
  width: auto;
  margin-bottom: -15px;

  @media ($down: $sm) {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
