.about {
  padding-bottom: 90px;
}

.about__header {
  height: 950px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.about-journey {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.about__main-products {
  height: 800px;
}

.mobile-app {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-app-bg {
  width: 240px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
