.b2b-content {
  min-height: 595px;

  @media ($down: $md) {
    min-height: 500px;
  }
}

.b2b-holder {
  margin: 0 auto;
  margin-top: -75px;
  max-width: 1260px;
  display: flex;
  justify-content: space-between;

  @media ($down: $sm) {
    flex-wrap: wrap;
  }
}

.b2b-subtitle {
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 0 50px;

  @media ($down: $sm) {
    font-size: 22px;
  }
}

.b2b-box {
  max-width: 600px;
  width: 100%;
  min-height: 450px;
  margin: 0 15px;
  //   border: 2px solid #ececec;
  padding: 50px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  @media ($down: $md) {
    padding: 25px;
    min-height: 400px;
  }
  @media ($down: $sm) {
    margin-bottom: 30px;
  }
}

.b2b-number {
  color: $red;
  font-size: 34px;
  line-height: 60px;
  font-weight: 500;
}
