#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container-wide {
  max-width: 1600px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  padding-bottom: 90px;
}

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-no-wrap {
    flex-wrap: nowrap;
  }
}

a {
  text-decoration: none;
}

.link-btn {
  width: 225px;
  height: 50px;
  border: 2px solid #000;
  background: transparent;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    background: #000;
    color: #fff;
  }

  @media ($down: $sm) {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}

.section-title {
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  color: rgb(255, 255, 255);

  @media ($down: $sm) {
    font-size: 40px;
    letter-spacing: 5px;
  }
}

.button {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: $red;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.1s ease;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($red, 10%);
  }

  @media ($down: $sm) {
    width: 150px;
    height: 45px;
    font-size: 18px;
  }
}

.page-header {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;

  @media ($down: $sm) {
    height: 300px;
  }

  &.b2b {
    height: 550px;

    @media ($down: $sm) {
      height: 400px;
    }
  }
}

.dark-bg {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header-title-holder {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 100px;

  @media ($down: $sm) {
    padding-bottom: 45px;
  }

  img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  &.b2b {
    padding-bottom: 150px;

    @media ($down: $sm) {
      padding-bottom: 120px;
    }
  }
}
